<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.live.zbproject.douyu.dao.DouyuMapper">
    <insert id="insert" >
        insert into dy_userroom
            (rid,rn,uid,nn,gender,title,fans,hot,notice
            ,week_barrage_num,week_gift_price,create_at
            ,update_at,c2url,c2name,zone1_id,zone2_id,zone1_name,zone2_name)
        values(#{rid},#{rn},#{uid},#{nn},#{gender},#{title},#{fans},#{hot},#{notice}
              ,#{weekBarrageNum},#{weekGiftPrice},#{createAt}
              ,#{updateAt},#{c2url},#{c2name},#{zone1Id},#{zone2Id},#{zone1Name},#{zone2Name})
    </insert>

    <delete id="deleteByRid" parameterType="Integer">
        delete from dy_userroom where rid = #{rid}
    </delete>

    <insert id="initTask">
        insert into task_list
            (zone1_id,zone2_id,create_at,update_at,valid,category,zone1_name,zone2_name)
            values(#{zone1Id},#{zone2Id},#{createAt},#{updateAt},#{valid},#{category},#{zone1Name},#{zone2Name})
    </insert>

    <delete id="deleteTask">
        delete from task_list where zone1_id = #{zone1_id} and zone2_id = #{zone2_id}
    </delete>

    <select id="findTaskList" resultMap="task_list">
        select * from task_list where category = #{category}
    </select>

    <select id="findOneByRid" resultType="com.live.zbproject.douyu.entity.DyUserRoom">
        select * from dy_userroom where rid = #{rid} limit 1
    </select>

    <select id="getTaskDetail" resultType="com.live.zbproject.douyu.entity.DyUserRoom">
        select t1.*,
               t2.avg_gift_worth avgGiftWorth,
               (t2.avg_interact_num/100) avgInteractNum from
            (select t.*,date_format(t.update_at,'%Y-%m-%d %H:%i:%s')update_time
             from dy_userroom t where t.zone1_id = #{zone1_id} and t.zone2_id = #{zone2_id}
             order by t.hot desc)t1
                left join toubanginfo t2 on t1.rid = t2.rid
    </select>

    <select id="getTaskList" resultMap="task_list">
        select t.*,date_format(t.update_at,'%Y-%m-%d %H:%i:%s')update_time from task_list t limit 9999
    </select>

    <select id="getDyCountByZoneId" resultType="java.lang.Integer">
        select count(1) from dy_userroom
        where zone1_id = #{zone1Id}
        and zone2_id = #{zone2Id}
    </select>

    <delete id="deleteBatch">
        delete from dy_userroom where rid in
        <foreach collection="list" item="dyUserRoomList" open="(" close=")" separator=",">
            #{dyUserRoomList.rid}
        </foreach>
    </delete>

    <insert id="saveOrUpdateTouBang">
        insert into toubanginfo
        (rid,avg_gift_worth,avg_interact_num,create_time,update_time,anchor_id,fans,fans_change)
        values
        <foreach collection="list" item="toubangInfoList" separator=",">
            (
             #{toubangInfoList.rid}
               ,#{toubangInfoList.avgGiftWorth}
               ,#{toubangInfoList.avgInteractNum}
               ,#{toubangInfoList.createTime}
               ,#{toubangInfoList.updateTime}
               ,#{toubangInfoList.anchorId}
               ,#{toubangInfoList.fans}
               ,#{toubangInfoList.fansChange}
               )
        </foreach>
        on duplicate key update
        avg_gift_worth = values(avg_gift_worth)
        ,avg_interact_num = values(avg_interact_num)
         ,update_time = values(update_time)
         ,anchor_id = values(anchor_id)
         ,fans = values(fans)
         ,fans_change = values(fans_change)
    </insert>

    <resultMap id="task_list" type="com.live.zbproject.common.entity.TaskList">
        <id property="id" column="id"/>
        <result property="zone1Id" column="zone1_id"/>
        <result property="zone2Id" column="zone2_id"/>
        <result property="valid" column="valid"/>
        <result property="category" column="category"/>
        <result property="zone1Name" column="zone1_name"/>
        <result property="zone2Name" column="zone2_name"/>
        <result property="update_time" column="update_time"/>
        <result property="anchor_num" column="anchor_num"/>
    </resultMap>
</mapper>